/* .alto {
  width: 900px;
  height: 800px;
  background-color: brown;
}

.alto h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.alto2 {
  width: 900px;
  height: 800px;
  background-color: royalblue;
}

.alto2 h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
 */
